body {
    margin: 0;
    padding-top: 10%;
    font-family: 'Work-Sans' , sans-serif;
    font-weight:300;
    background-color: rgb(149, 172, 149);
}

.container {
    width: 80%;
    margin: 0 auto;
}


header {
    background: rgb(15, 22, 15);
    width: 100%;
    top: 0;
    position: fixed;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.home {
    padding-bottom: 30%;
    text-align: center;
    padding-bottom: 50%;
}


.logo {
    margin: 0;
    width: 30%;
    padding-bottom: 0%;
    color: white;
    float: left;
}
nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
 color: white;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width:100%;
}

h4 {
    font-family: 'Work-Sans' , sans-serif;
    padding-top: 10%;
    color: rgb(77, 94, 77);
}

h1 {
    color: rgb(40, 61, 40);
}
.about {
    padding-bottom: 30%;
    text-align: center;
    padding-bottom: 50%;
}

.contact {
    padding-bottom: 30%;
    text-align: center;
    padding-bottom: 50%;
    
   
}

.contact a {
    text-decoration: none;
    color: rgb(40, 61, 40);
   
   
}

.contact a:hover {
    color: white ;
}

.resume a:hover {
    color: white;
}

.resume {
    color: rgb(33, 49, 33);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}


